html {
  font-family: "Eras ITC", "Eras Light ITC", sans-serif;
}
header {
  background-color: #f6dd39;
  height: 100px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 30px;
  margin-top: 10px;
  height: 100%;
  display: flex;
  align-items: center;
}
ul > li {
  display: inline;
  float: left;
  margin-right: 20px;
  text-shadow: 0px;
}

ul > li:hover {
  display: inline;
  float: left;
  margin-right: 20px;
  text-shadow: 1px 1px;
  font-weight: 900;
}
li > a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
#section1 {
  height: 500px;
  background-color: #d8bf93;
  font-weight: bold;
  font-size: xx-large;
}
#section1 > img {
  float: right;
  padding-right: 200px;
}

#section1 > div {
  vertical-align: middle;
  width: fit-content;
  float: left;
  margin-top: 200px;
  margin-left: 10%;
}
#section1 > div > p {
  margin: 0;
}

.homer-title {
  font-size: 40px;
}
.homer-description {
  font-size: 25px;
}

#section2 {
  padding-left: 15px;
  padding-right: 15px;
}
#section2 > img {
  width: 100%;
  margin: auto;
}

.family-description {
  display: flex;
  margin-left: 30%;
  font-size: x-large;
  font-weight: 600;
  width: 42%;
}

.family-title {
  font-size: xx-large;
  font-weight: 700;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 0.5fr);
  grid-gap: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  margin: auto;
  width: 200px;
}
.grid-item > img {
  height: 160px;
}

.img-4 {
  width: 270px;
  height: 270px !important;
}
.img-5 {
  width: 250px;
  height: 250px !important;
}
.img-6 {
  width: 200px;
  height: 200px !important;
  margin-bottom: 60px;
}
.img-8,
.img-9,
.img-10 {
  width: 270px;
  height: 270px !important;
}
.item-6,
.item-8 {
  padding-right: 90px;
}
.container {
  position: relative;
  width: 50%;
}

.grid-item > img {
  opacity: 1;
  display: block;

  transition: 0.5s ease;
  backface-visibility: hidden;
}

.grid-item:hover > img {
  opacity: 0.3;
  cursor: pointer;
}

#section3 {
  background-color: #4c9ff7;
}
.work-title {
  padding-left: 20px;
  padding-top: 40px;
}

.work-description {
  font-size: x-large;
  padding-left: 80px;
}
.biography-description {
  padding: 40px;
  font-size: xx-large;
}
.biography-title {
  padding-left: 20px;
  padding-top: 40px;
}
footer {
  margin: auto;
  height: 80px;
  background-color: #4c9ff7;
}

footer > p {
  font-size: 40px;
  padding-top:10px;
  text-align: center;
}
